html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 100%;
}

.text-display {
    white-space: pre-wrap;
    /* Preserves spaces and line breaks */
    font-size: 4rem;
    width: calc(100% - 8rem);
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.sentence {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-wrap: balance;
    box-sizing: border-box;
}

.completed-sentence {
    color: rgba(255, 255, 255, 0.651);
}

.current-sentence {
    color: white;
    /* background-color: rgba(0, 100, 200, 0.3);
    border-left: 3px solid #00a0ff; */
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease;
}

/* Fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s ease;
    opacity: 0;
}